Dataset/Tools/train2015/

# Editor Tempfiles:
*.swn
*.swo
*.swp
*~

# Python binaries:
*.pyc
*.pyd

# Image Files:
*.jpg
*.png

# Large matfiles:
*.mat

#picklefiles:
*.pkl

#pth files for pretrained models (pytorch)
*.pth
